<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the student management system.</p>
  <p><a href="students/new"><button type="submit">Click here</button></a> to create a new student.</p>
  <p><a href="campuses/new"><button type="submit">Click here</button></a> to create a new campus.</p>
  <table>
    <tr>
        <th>List of Students</th>
        <th>List of Available Campuses</th>
    <tr>
      <td>
        <ul>
          <% @students.each do |student| %>
            <li><%=student['name']%>, <%=student['age']%> -- <%=student['campus']%></li>
          <% end %>
        </ul>
      </td>
      <td >
        <ul>
          <% @campuses.each do |campus| %>
          <li><%=campus['name']%></li>
          <%end%>
        </ul>
      </td>
    </tr>
    
  </table>
</body>
</html>