<!DOCTYPE HTML>
		<html>
			<head>
				<title>Create a New Campus</title>
				<link rel="stylesheet" href="styles.css">
			</head>

		<body>
			<h2>New Campus Application</h2>
  			<br>
			<form action ="/campuses" method="POST">
				<input type="text" name="name" placeholder="New Campus">
    			<button type="submit">Create</button>
  			</form>

		</body>

		</html>

	