body {
  font-family: Helvetica;
  font-size: 90%;
  max-width: 960px;
}
header {
  background-color: red;
  padding: 10px;
  border-radius: 25px;
}

.column-1 {
  background-color: blue;
  float: left;
  width: 48%;
  padding: 7px;
  border-radius: 25px;
}
.column-2 {
  background-color: orange;
  float: left;
  width: 48%;
  padding: 7px;
  border-radius: 25px;
  
}

footer {
  background-color: green;
  padding: 10px;
  border-radius: 25px;
  clear: both;

}

#tinaphoto {
  margin: auto;
  display: block;
  animation: shake .5s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}